@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
    --breakpoint-*: initial;
    --breakpoint-tablet: 768px;
    --breakpoint-pc: 1280px;
}

@layer base {
    html {
        font-size: 16px;
    }

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
    }
}

@utility transform-rotate-y-0 {
    transform: rotateY(0deg);
}

@utility transform-rotate-y-90 {
    transform: rotateY(90deg);
}

@utility transform-rotate-y-90-back {
    transform: rotateY(-90deg);
}

@utility transform-rotate-y-180 {
    transform: rotateY(180deg);
}

@utility transform-rotate-y-180-back {
    transform: rotateY(-180deg);
}

@utility backface-visibility-hidden {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
